<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Notifications/draw notifications/btns/1x/hover_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,63}</string>
                <key>spriteSourceSize</key>
                <string>{270,63}</string>
                <key>textureRect</key>
                <string>{{1653,615},{270,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Notifications/draw notifications/btns/1x/normal_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,63}</string>
                <key>spriteSourceSize</key>
                <string>{270,63}</string>
                <key>textureRect</key>
                <string>{{1638,684},{270,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Notifications/draw notifications/btns/1x/press_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,63}</string>
                <key>spriteSourceSize</key>
                <string>{270,63}</string>
                <key>textureRect</key>
                <string>{{1637,753},{270,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Notifications/draw notifications/isolated.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{606,381}</string>
                <key>spriteSourceSize</key>
                <string>{612,387}</string>
                <key>textureRect</key>
                <string>{{1565,3},{606,381}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Notifications/loose notification/btns/1x/hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,63}</string>
                <key>spriteSourceSize</key>
                <string>{270,63}</string>
                <key>textureRect</key>
                <string>{{1637,822},{270,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Notifications/loose notification/btns/1x/normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,63}</string>
                <key>spriteSourceSize</key>
                <string>{270,63}</string>
                <key>textureRect</key>
                <string>{{1637,891},{270,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Notifications/loose notification/btns/1x/press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,63}</string>
                <key>spriteSourceSize</key>
                <string>{270,63}</string>
                <key>textureRect</key>
                <string>{{1636,960},{270,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Notifications/loose notification/isolated.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{604,379}</string>
                <key>spriteSourceSize</key>
                <string>{612,387}</string>
                <key>textureRect</key>
                <string>{{1180,681},{604,379}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Notifications/win notification/btns/1x/hover_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,63}</string>
                <key>spriteSourceSize</key>
                <string>{270,63}</string>
                <key>textureRect</key>
                <string>{{1653,615},{270,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Notifications/win notification/btns/1x/normal_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,63}</string>
                <key>spriteSourceSize</key>
                <string>{270,63}</string>
                <key>textureRect</key>
                <string>{{1638,684},{270,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Notifications/win notification/btns/1x/press_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,63}</string>
                <key>spriteSourceSize</key>
                <string>{270,63}</string>
                <key>textureRect</key>
                <string>{{1637,753},{270,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Notifications/win notification/isolated.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{604,381}</string>
                <key>spriteSourceSize</key>
                <string>{612,387}</string>
                <key>textureRect</key>
                <string>{{793,681},{604,381}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>board and background/bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{3,3},{1280,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>board and background/board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{672,672}</string>
                <key>spriteSourceSize</key>
                <string>{672,672}</string>
                <key>textureRect</key>
                <string>{{793,3},{672,672}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>checkers/back-checker-black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,65}</string>
                <key>spriteSourceSize</key>
                <string>{66,65}</string>
                <key>textureRect</key>
                <string>{{1565,739},{66,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>checkers/back-checker-white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{1565,952},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>checkers/black-space.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,65}</string>
                <key>spriteSourceSize</key>
                <string>{66,65}</string>
                <key>textureRect</key>
                <string>{{1565,810},{66,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>checkers/black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,65}</string>
                <key>spriteSourceSize</key>
                <string>{66,65}</string>
                <key>textureRect</key>
                <string>{{1565,881},{66,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>checkers/select-checker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{1471,397},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>checkers/turn-checker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,85}</string>
                <key>spriteSourceSize</key>
                <string>{87,85}</string>
                <key>textureRect</key>
                <string>{{1471,3},{87,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>checkers/white-space.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{1565,1023},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>checkers/white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{1891,1075},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu bar/add-toro-coins/hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,36}</string>
                <key>spriteSourceSize</key>
                <string>{181,36}</string>
                <key>textureRect</key>
                <string>{{1565,1094},{181,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>menu bar/add-toro-coins/normal-and-click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,36}</string>
                <key>spriteSourceSize</key>
                <string>{181,36}</string>
                <key>textureRect</key>
                <string>{{1607,1094},{181,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>menu bar/logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,45}</string>
                <key>spriteSourceSize</key>
                <string>{176,45}</string>
                <key>textureRect</key>
                <string>{{1471,615},{176,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu bar/menu-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,58}</string>
                <key>spriteSourceSize</key>
                <string>{1280,58}</string>
                <key>textureRect</key>
                <string>{{729,3},{1280,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>menu bar/quit-game/Regular.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,37}</string>
                <key>spriteSourceSize</key>
                <string>{130,37}</string>
                <key>textureRect</key>
                <string>{{1913,939},{130,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>menu bar/quit-game/click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,37}</string>
                <key>spriteSourceSize</key>
                <string>{130,37}</string>
                <key>textureRect</key>
                <string>{{1471,470},{130,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>menu bar/quit-game/hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,37}</string>
                <key>spriteSourceSize</key>
                <string>{130,37}</string>
                <key>textureRect</key>
                <string>{{1913,803},{130,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>user avatar and name/layer-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,154}</string>
                <key>spriteSourceSize</key>
                <string>{115,154}</string>
                <key>textureRect</key>
                <string>{{1649,1075},{115,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>user avatar and name/layer-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,70}</string>
                <key>spriteSourceSize</key>
                <string>{105,70}</string>
                <key>textureRect</key>
                <string>{{1471,286},{105,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>user avatar and name/layer-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,71}</string>
                <key>spriteSourceSize</key>
                <string>{105,71}</string>
                <key>textureRect</key>
                <string>{{1471,175},{105,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>user avatar and name/user-panel-layer2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,45}</string>
                <key>spriteSourceSize</key>
                <string>{113,45}</string>
                <key>textureRect</key>
                <string>{{1514,470},{113,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>user avatar and name/user-turn/red-circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{1565,666},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>user avatar and name/user-turn/user-panel-time-layer-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,154}</string>
                <key>spriteSourceSize</key>
                <string>{115,154}</string>
                <key>textureRect</key>
                <string>{{1770,1029},{115,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>user avatar and name/user-turn/user-panel-time-layer2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,45}</string>
                <key>spriteSourceSize</key>
                <string>{113,45}</string>
                <key>textureRect</key>
                <string>{{1914,684},{113,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>user avatar and name/user-turn/white-circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,75}</string>
                <key>spriteSourceSize</key>
                <string>{76,75}</string>
                <key>textureRect</key>
                <string>{{1471,94},{76,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>main.png</string>
            <key>size</key>
            <string>{1962,1288}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f623e008734b0247af900d6126819b65:4a58b49d2f9c7a0c2a08c5bef495a18f:693584bbba79ecadf35d6b2cf3a849c9$</string>
            <key>textureFileName</key>
            <string>main.png</string>
        </dict>
    </dict>
</plist>
